.asmillerGalleryBlock {list-style:none; position:relative; width:100%; height:auto; margin:10px auto}
.asmillerGalleryBlock li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.asmillerGalleryBlock li a{display:none}
.asmillerGalleryBlock li div{position:absolute;display:none;top:0;left:180px}
.asmillerGalleryBlock li div img{cursor:pointer}
.asmillerGalleryBlock li.asmillerGalleria_active div img,.asmillerGalleryBlock li.asmillerGalleria_active div{display:block}
.asmillerGalleryBlock li img.asmillerGalleria_thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.asmillerGalleria  {width:100%;}
.asmillerGallery{padding:0px;}

.asmillerGalleria_wrapper{margin: 0 auto;position:relative;}
.asmillerGalleria_caption{padding:10px; margin-top:10px; width:100%; text-align:center;display:block;}

* html .asmillerGalleryBlock li div span{width:400px} /* MSIE bug */