.proPhotoWrap { padding-bottom:8px; overflow:hidden; position: relative; }
.proPhotoWrap img, .proPhotoWrap .proPhotoFilmStrip img, .proPhotoWrap .mainImage img { display: inline !important; } 
.proPhotoWrap .mainImage { text-align:center; margin-bottom:24px; }
.proPhotoWrap .mainImage table{margin:auto; width:auto; }
.proPhotoWrap .mainImage table.buttonsTable{width:100%}
.proPhotoWrap .mainImage table td{text-align:center; overflow:hidden; vertical-align:middle; }
.proPhotoWrap .mainImage table td.arrowLeftCell{ text-align:center }
.proPhotoWrap .mainImage table td.arrowRightCell{ text-align:center }
.proPhotoWrap .mainImage .mainImageTarget{ text-align:center; margin:auto; overflow:hidden; }
.proPhotoWrap .mainImage .mainImgDataWrap { margin:auto; }
.proPhotoWrap .mainImage .imgInfo { margin:auto; margin-top:8px; /*border:1px solid #000; background:#191919;*/  text-aign:left; padding:4px; letter-spacing:1px }
.proPhotoWrap .mainImage .imgInfo .imgTitle { font-size:12px; line-height:18px; text-align:right; width: 180px; float: left; margin-right: 10px; }
.proPhoto_imgDetail {float: left; width: 250px; text-align: left; font-size: 12px}
.proPhotoWrap .mainImage .imgInfo .imgOpts { float:right; font-size:12px; line-height:16px; color:#999; padding-top:2px; margin-left:8px; }
.proPhotoWrap var { display:none; }

.proPhotoWrap table.proPhotoList{ width:100% }
.proPhotoWrap table.proPhotoList tr.header td { font-weight:bold; padding-bottom:4px; padding-right:4px;  }
.proPhotoWrap table.proPhotoList tr td { vertical-align:top; padding-bottom:8px; text-align:center; padding-bottom:32px; }
.proPhotoWrap table.proPhotoList tr.pro-photo-item td .tags { font-size:80%; }

.proPhotoWrap .proPhotoImgWrap { position:relative; top:0px; left:0px; }  
.proPhotoWrap .proPhotoImgWrap img { padding:1px;} 
.proPhotoWrap .mainImage .imgBorder{ font-size:1px; line-height:0px; vertical-align:top; text-align:center; padding:1px; min-height:24px; min-width:24px; background:url(../images/throbber_mid_on-black.gif) center no-repeat; }
.proPhotoWrap .mainImage table { border-collapse:separate }

.proPhotoWrap .proPhotoFilmStrip { overflow:scroll; overflow-x: scroll; overflow-y: hidden; white-space:nowrap; padding:0px 8px 16px 0px; position: relative; left:0px; top:0px; width:100%; height:70px;}
.proPhotoWrap .proPhotoFilmStrip .proPhotoFilmStripInner { position:relative; top:-25px; left:0px; width:auto; float:left;  }
.proPhotoWrap .proPhotoFilmStrip .proPhotoImgWrap { margin-right:8px; display:inline; }
.proPhotoWrap .proPhotoFilmStrip .proPhotoImgWrap a { }
.proPhotoWrap .proPhotoFilmStrip .proPhotoImgWrap a:hover, 
.proPhotoWrap .proPhotoFilmStrip .proPhotoImgWrap.selected a{  }
.proPhotoWrap .proPhoto_image_preloads { height:1px; width:1px; opacity:0; filter:alpha(opacity=0); }

 .proPhotoWrap .proPhoto_detailLabel { opacity:.70; filter: alpha(opacity=70); } 
 
 .proPhotoOverlay { position:absolute; bottom:4px; left:2px; width:100%; background:#999; opacity:.01; filter:alpha(opacity=1); }

 
.proPhotoWrap .spacer{clear:both; font:1px; line-height:1px}


.proPhotoWrap .pagingNav{ margin:16px 0px 8px 0px}
.proPhotoWrap .pagination{ text-align:center; color:#bbb; padding-top:4px}
.proPhotoWrap .pagination .pageRight{width:20%; float:right; text-align:right}
.proPhotoWrap .pagination .pageLeft{width:20%; float:left; text-align:left}

.proPhotoWrap .proPhotoFilmStrip-slider { width:98%; height: 8px; margin: 5px auto; background: #111; position: relative; left:0px; top:0px; border:1px solid #000; border-bottom:1px solid #333; border-right:1px solid #222; font-size:1px; line-height:1px; overflow: visible !important;}
.proPhotoWrap .proPhotoFilmStrip-slider .ui-slider-handle { width: 8px; height: 18px; position: absolute; top: -6px; background: #666; border: solid 1px black; margin-left:-4px;}

.proPhotoWrap .mainImage table td.arrowLeftCell{ width:48px }
.proPhotoWrap .mainImage table td.arrowRightCell{ width:48px }

/* Arrows Common */
.proPhotoWrap .mainImage table .arrowRight, .proPhotoWrap .mainImage table .arrowLeft {  width:44px; height:140px;   }
.proPhotoWrap .mainImage table .arrowRight .arrowRightInner, .proPhotoWrap .mainImage table .arrowLeft .arrowLeftInner {width:100%; height:100%;} 


/* Gray Skin */  
.proPhotoSkin_gray .mainImage table .arrowRight { opacity:.70; filter: alpha(opacity=70);  background: url(../images/arrow_right_gray.png) center no-repeat; }
.proPhotoSkin_gray .mainImage table .arrowLeft { opacity:.70; filter: alpha(opacity=70); background: url(../images/arrow_left_gray.png) center no-repeat; }
.proPhotoSkin_gray .mainImage table .arrowLeft .arrowLeftInner {  opacity:.20; filter: alpha(opacity=20);  }
.proPhotoSkin_gray .mainImage table .arrowRight .arrowRightInner {  opacity:.20; filter: alpha(opacity=20); }
.proPhotoSkin_gray .proPhotoFilmStrip-slider { border-color: #4a4a4a; background-color:#ccc; opacity:.60; filter: alpha(opacity=60) }
.proPhotoSkin_gray .proPhotoFilmStrip-slider .ui-slider-handle { border-color:#000; background-color:#666 }
.proPhotoSkin_gray .proPhotoImgWrap img {  }
.proPhotoSkin_gray .mainImage .imgBorder{ }
.proPhotoSkin_gray .mainImage table a:hover .arrowRight, .proPhotoSkin_gray .mainImage table a:hover .arrowLeft { opacity:1; filter: alpha(opacity=100) } 


.proPhotoWrap .proPhotoImgWrap.selected img, .proPhotoWrap .proPhotoImgWrap a:hover img {} 

.gallery-name {float:right;}