.asmillerGalleria{list-style:none;width:100%; padding: 0; margin:0;}
.asmillerGalleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.asmillerGalleria li a{display:none}
.asmillerGalleria li div{position:absolute;display:none;top:0;left:180px}
.asmillerGalleria li div img{cursor:pointer}
.asmillerGalleria li.asmillerGalleria_active div img,.asmillerGalleria li.asmillerGalleria_active div{display:block}
.asmillerGalleria li img.asmillerGalleria_thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.asmillerGalleria li .asmillerGalleria_caption{display:block;padding-top:.5em}
* html .asmillerGalleria li div span{width:400px} /* MSIE bug */


	.asmillerGalleria_caption{color:#888;position:absolute;bottom:60px;left:45px;width:200px;}
	.asmillerGalleryBlock{position:relative;margin-top:2em;}
	.asmillerGallery{float:left;}
	.asmillerGallery li{width:55px;height:70px;border:3px solid darkgray;margin: 0 2px 2px 0;background:#eee;}
	.asmillerGallery li.hover{border-color:#bbb;}
	.asmillerGallery li.asmillerGalleria_active{border-style:solid;border-color:#222;}
	.asmillerGalleria_caption{margin-left: 9999px; font:italic 0.7em/1.4 georgia,serif;}
	.asmillerMainImage img{border: double #222 1px;padding:5px;}
	
	.nav{padding-top:15px;clear:both;}
	
	.info{text-align:left;margin:30px 0;border-top:1px dotted #221;padding-top:30px;clear:both;}
	.info p{margin-top:1.6em;}
	
	.nav{position:absolute;top:410px;left:0;}
