.c5-galleria {
	height: 700px;
	width: 720px;
}
.galleria-container {
	position:relative;
	width: 720px;
}
.galleria-stage {
	position:absolute;
	top:0px;
	bottom:70px;
	left:0px;
	right:0px;
}
.galleria-thumbnails-container {
	height:60px;
	bottom:0px;
	top: 450px;
	position:absolute;
	z-index:2;
	left: 20%;
	right: 20%;
}
.galleria-carousel .galleria-thumbnails-list {
	margin-left:30px;
	margin-right:30px;
}
.galleria-thumbnails .galleria-image {
	height:60px;
	width:80px;
	margin:0 5px 0 0;
	float:left;
	cursor:pointer;
}
.galleria-thumbnails .active {
	border-color:#aaa;
}
.galleria-counter {
	position:absolute;
	bottom:10px;
	left:10px;
	text-align:right;
	color:#000;
	font:normal 11px/1 arial, sans-serif;
	z-index:2;
}
.galleria-loader {
	width:20px;
	height:20px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:2;
	display:none;
	background:url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-info {
	top:390px;
	right:0px;
	z-index:2;
	position:absolute;
}
.galleria-info-text {
  padding: 12px;
}
.galleria-play, .galleria-pause {
        z-index:2;
        position:absolute;
        bottom:0px; right:35px;
	color:#444;
	font:normal 11px/1 arial, sans-serif;

}
.galleria-pause {
        right:0;        
}
.galleria-info-title {
	font:bold 12px/1.1 arial, sans-serif;
	margin:0;
	color: rgb(37,37,37);
	width: 200px;
	text-align: right;
	margin-right: 10px;
	float: left;
}
.galleria-info-description {
	font:italic 12px/1.1 arial, sans-serif;
	margin:0;
	color:#bbb;
	width: 120px;
	float: left;
}
.galleria-info-close {
	width:9px;
	height:9px;
	position:absolute;
	top:5px;
	right:5px;
	background-position:-753px -11px;
	opacity:.5;
	cursor:pointer;
	display:none;
}
.galleria-info-link {
	background-position:-669px -5px;
	opacity:.8;
	position:absolute;
	width:20px;
	height:20px;
	cursor:pointer;
	display: none;
}
.galleria-info-link:hover, .galleria-info-close:hover {
	opacity:.5;
}
.galleria-image-nav {
	position:absolute;
	top:50%;
	margin-top:-15px;
	width:100%;
	height:31px;
	left:0;
	
}
.galleria-image-nav-left, .galleria-image-nav-right {
	cursor:pointer;
	width:20px;
	height:35px;
	position:absolute;
	left:10px;
	z-index:2;

}
.galleria-image-nav-right {
	left:auto;
	right:10px;
	background-position:-300px 0;
	z-index:2;
}
.galleria-image-nav-left:hover, .galleria-image-nav-right:hover {
	opacity:.5;
}
.galleria-thumb-nav-left, .galleria-thumb-nav-right {
	cursor:pointer;
	display:none;
	background-position:-495px 0;
	border-right:1px solid #444;
	position:absolute;
	left:0;
	top:0;
	height:30px;
	width:23px;
	z-index:3;
	opacity:.8;
}
.galleria-thumb-nav-right {
	background-position:-578px 0;
	border-left:1px solid #444;
	border-right:none;
	right:0;
	left:auto;
}
.galleria-thumbnails-container .disabled, .galleria-thumbnails-container .disabled:hover {
	opacity:.2;
	cursor:default;
}
.galleria-thumb-nav-left:hover, .galleria-thumb-nav-right:hover {
	opacity:1;
	background-color:#ccc;
}
.galleria-carousel .galleria-thumb-nav-left, .galleria-carousel .galleria-thumb-nav-right {
	display:block;
}
.galleria-thumb-nav-left, .galleria-thumb-nav-right, .galleria-info-link, .galleria-info-close, .galleria-image-nav-left, .galleria-image-nav-right {
	background-image:url(classic-map.png);
	background-repeat:no-repeat;
}
