/*img{border:0}



.projects {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.projects li {
	display: block;
	float: left;
	background-color: #FFF;
	margin: 5px;
	height: 170px;
	width: 237px;
	position:relative;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #CCC;
	}

.picbg{
	display:block;
	width:237px;
	height:140px;
	position:relative;
	text-decoration:none;
	float:left;
}

/*.picbg img{
		position:absolute;
		top:6px;
		left:6px;
		z-index:3;
	}
*/
/*.picbg .greenbg{
	display:block;
	width:225px;
	height:30px;
	background:url(images/greenbg.png) repeat;
	position:absolute;
	top:74px;
	left:6px;
	z-index:25;
	font-size:18px;
	color:#FFF;
	text-align:center;
	padding-top:12px;
	opacity: 0;
	font-family: Arial, Helvetica, sans-serif;
	}
.greenaclr {
	float: left;	
	}	
.greenaclr a.title {
	color: #6A3;
	text-decoration:none;
	font-weight: bold;
	font-size:12px;
	padding-left: 6px;
	font-family: Arial, Helvetica, sans-serif;
		}
.greenaclr a.title:hover {
	color: #6C0;
	text-decoration:none;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
			}

.picbg:hover{
	background:url(images/picbg_h.png) no-repeat;
	text-decoration:none
}
.rssIcon{
	display: block;
	float: left;
	height: 20px;
	width: 100%;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	}
.ccm-pagination {
	display: block;
	float: left;
	height: 20px;
	width: 488px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
*/