/* HTML Tag Redefinition */
html, body {
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}
body {
	padding: 0px;
	margin: 0px;
	background: #c0c0c0;
}
img {
	border: 0px
}
a { cursor:pointer }
#page ul {padding: 0px; margin:0px;}
#page li {margin: 5px 0 5px 15px;}
/* Page Structure / Navigation */
#page {
	width:940px;
	margin: 0 auto;
	height: auto !important;
	min-height: 650px;
	background: #e6e7e8 url(images/sidebar-bg.gif) top left repeat-y;
}
#page.home {
	background-color: #efefef;
	background-image: none;
	position:relative;
}
#page.full {
	background-color: #efefef;
	background-image: none;
	position:relative;
	min-height: 660px;
}
#page #header {
	height: 102px;
	background: #e6e7e8;
}
#page.full #header {
	height: 50px;
	position: relative;
}
#page #header h1{
	padding: 0px;
	margin: 0px;
}
#page #header { background: none;}
#page #header #logo a {
	/* customize_header_logo */ color: #ffffff; /* customize_header_logo */
	text-decoration:none;
}
#page #header #header-area {
	width: 940px;
	
}
#page #central {
	width: 940px;
}
#page #central #body {
	text-align:left;
	padding: 85px 0 20px 0;
	float:right;
}
#page #central #sidebar {
	padding: 85px 0 20px 0;
	background: #888689;
	float:left;
	width: 150px;
	min-height: 100%;
}
/*Home*/
#page.home .enter{
	position: absolute;
	right: 80px;
	top: 527px;
}
#page #central.home { 
}

#page #central.home #body{
	margin: 0 auto;
	width: 640px;
	float: none;
}
/*Full*/
#page #central.no-sidebar #body{
	padding: 0px 30px 0 30px;
	width: 880px;
}
.bottom-nav .navigation{
	padding-left: 60px; 
}
#page .page-title h1{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 20;
	font-size: 12px;
	color: #333;
	text-transform:lowercase;
}
.bottom-nav {
	height:10px;
	line-height:10px;
	font-size:10px;
	text-align:center;
	padding:7px 0 10px 0;
	background: #888689;
	width:940px;
	margin: auto;

}
.bottom-nav ul{
	list-style:none;
	margin:0px;
	float: left; 
	padding:0px;
	z-index:2;
	overflow:visible;
	margin: 0 30px;
}
.bottom-nav ul li{
	float:left;
	padding:2px 0px;
	margin: 0px 10px;
	font-size:12px;
	letter-spacing:1.5px;
}
.bottom-nav ul li a{
	color: #ffffff;
	font-size: 11px;
}
.bottom-nav ul li a:hover{
	color:#333;
}
/*Left Sidebar*/
#page #central.sidebar-left #body {
	float:right;
	width: 790px;
}
#page #central.sidebar-left #body #main{
	padding: 0 85px;
	width: 400px;
	float: left;
}
#page #central.sidebar-left #body #main li{
	font-size: 12px;
	color: #333;
}
#page #central.sidebar-left #body #image{
	width: 135px;
	float: left;
	padding-left:85px;
}
#page #central #sidebar p {
	line-height:24px
}
/*Commisions*/
#page #central.commisions #body #main{
	padding: 0 85px;
	width: 360px;
	float: left;
}
#page #central.commisions #body #image{
	width: 175px;
	float: left;
	padding-left:85px;
}

/*navigation*/
#page #central #sidebar ul.nav li{
	margin: 10px 0;
}
#page #central #sidebar ul.nav li a{
	color: #ffffff;
	font-size: 12px;
	text-decoration:none;
}
#page #central #sidebar ul.nav li a.nav-selected{
	color: #252525;
}

#page #central #sidebar ul.nav li a:hover{
	color: #252525;
}
#page #central #sidebar ul.nav {
	list-style:none;
	margin:0 25px 40px 0;
	text-align: right;
	padding:0px;
	padding-left:0;
	font-size:11px;
}
#page #central #sidebar ul.nav li a.select {
	color: #252525;
}

/*Sub Sections*/
#page #central.sub-sections #body{
	padding-left: 85px;
	padding-right: 85px;
	width: 620px;
}
#page #central.sub-sections .column {
	width: 180px;
	float: left;
	padding: 0 40px 0 0;
}
#page #central.sub-sections #last.column {
	padding-right:0px;	
}
/*Footer*/
#footer {
	height:10px;
	line-height:10px;
	font-size:10px;
	text-align:center;
	padding:10px 0 10px 0;
	color:#ccc;
	background: #2c2333;
	width:940px;
	margin: auto;
}
#footer a {
	color:#ccc;
	text-decoration:none;
}

span.sign-in {margin-left: 20px}
#page #footer span.powered-by { float:right; margin-right:20px;}
/*Page List*/
.sidebar-title {
	background: url(images/site-navigation-header.jpg) top left no-repeat;
	height: 48px;
}
.contact-pagelist ul {
	margin: 5px;
	padding: 0;
}
.contact-pagelist ul li{
	height: 35px;
	list-style: none;
	background: #dce0e9 url(images/li-arrow.png) top right no-repeat;
	margin-bottom: 2px;
}
.contact-pagelist ul li a{
	width: 100%;
	display: block;
	padding: 10px 0 0 10px;
	text-decoration: none;
}
.contact-pagelist ul li:hover{
	background: #d0d4de url(images/li-arrow.png) top right no-repeat;
}
.contact-pagelist ul li a:hover{
	text-decoration: underline;
}
/* MISC STYLES & SHORTCUTS */
div.code {
	border: 1px solid #ddd;
	background: #eee;
	padding: 10px
}
div.spacer, div.ccm-spacer {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}
/* customize_miscellaneous */ /* customize_miscellaneous */

/*DOJO IMAGE LIST*/
#page .greenaclr a.title {
	display: none;
}
#page .greenaclr a.title:hover {
	color: #683737;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}
#page ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#page .projects li {
	width: 118px;
	height: 96px;
	background-image: none;
	margin: 0 35px 35px 0;
	background: none;
	border: none;
	list-style: none;
	cursor: pointer;
	float: left;
}
.boxgrid{ 
	width: 118px;
	height: 96px;
	background:#161613; 
	overflow: hidden;
	position: relative; 
}
.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
}
.boxcaption{ 
	float: left; 
	position: absolute; 
	background: #333333; 
	opacity: .65; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
.boxcaption a {
	width: 108px;
	height: 86px;
	padding: 5px;
	font-size: 13px;
	line-height: 16px;
	display: block;
	font-weight: lighter;
	text-transform: lowercase;
	color: white;
}
.boxcaption a:hover {
	color: white;
}
.captionfull .boxcaption {
	top: 96px;
	left: 0;
}
/*BREADCRUMB*/
#page .swp-breadcrumbs {
	margin: 0 0 20px 0;
}
#page .swp-breadcrumbs a {
	font-size: 10px;
}
#page .swp-breadcrumbs .delim {
	font-size: 10px;
}
#page .swp-breadcrumbs strong {
	font-size: 10px;
}

/*NEWS LIST*/
.news-list {
	margin: 0 0 30px 0;
}
.news-list .ccm-page-list-title {
	color: #252525;
}
.news-list .ccm-page-list-date {
	font-size: 12px;
	margin:15px 0 0 0;
}
.news-list .ccm-page-list-description {
	font-size: 12px;
	color: #808285;
	margin:5px 0;
}
/*PHOTO PRO*/
#page .proPhotoThumbLink img.proPhotoThumb {
	position:absolute;
	top:-20px;
	left:-40px;
}
#page .proPhotoImgWrap a{
	width:55px;
	height: 55px;
	overflow: hidden;
	display:inline-block;
	position:relative;
	z-index:1;
	margin: 0 -2px 0 0;		
}
#page .image-title {
	font-size: 12px;
}
.ainfo {
	float: right;
	position: absolute;
	z-index: 100;
	right: 35px;
	top: 60px;
}
#page .proPhotoWrap .mainImage .imgInfo {
	position: absolute;
	right: 34px;
}
#page .image-info {
	font-size: 12px;
	padding: 5px 10px;
	position: absolute;
	z-index: 100;
	right: 50px;
	top: 90px;
	width: 400px;
	background: #333;
}
#page .image-info p{
	color: #ccc;
}
#page .proPhotoImgWrap .mainImageTarget{
	height: 600px;
}
#page .proPhotoWrap .proPhotoFilmStrip {
	height: 35px;
}
#page .proPhotoWrap .mainImage .imgInfo .imgTitle {
	text-align: right;
	clear:both;
	color:#333333;
}
#page .proPhoto_imgDetail {
	text-align: right;
	color:#333333;
}
.gallery-name {
	position: absolute;
	right: 10px;
	top: 30px;
}
/*OTHER STYLES*/
.back-button {
	position: absolute;
	left:52px;
	bottom: 100px;
	font-size: 12px;
	color: #666;
}
.more-info {
	background: url(images/more-info-btn.png) top left no-repeat;
	width: 278px;
	height: 34px;
	padding: 20px 0 0 90px;
	display: block;
	text-decoration: none;
} 
.logo-images img {
	margin: 0 20px 20px 0;	
}