body {
}

img {border: 0px}
a,a:visited,a:active { /* customize_link */ color: #252525 /* customize_link */;text-decoration: none;}
a:hover { /* customize_link_hover */ color:#999 /* customize_link_hover */ } 
.sidebar a { color: #e6e7e8;}
h1,h2,h3,h4,h5{ margin:0px 0px 4px 0px; padding:4px 0px; font-family: "Lucida Sans Unicode","Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; font-weight: normal; letter-spacing: 0.1px; word-spacing: 1px;}
h1{ font-size:21px; line-height:28px; color: #a9abad; font-weight: lighter; margin-bottom: 20px;}
h2{ font-size:18px; line-height:24px; color: #d5d3d8; }
h3{ font-size:16px; line-height:21px; color: #bcbec0; }
h4{ font-size:21px; line-height:28px; color: #531e14; font-weight: normal; font-style:italic; font-family:"Times New Roman", Times, serif;}
h5{ font-size:13px; line-height:16px; color: #fff; }
p{ padding:0px 0px 0px 0px; font-size: 12px; line-height: 17px; color: #58595b;}

#page #central.home #body p{
	font-size: 16px;
}
#column h1 {
	margin-bottom: 0px;
}
#column p {
	font-size: 12px;
}
#page #central.sidebar-right #sidebar .form-title h3{
	padding: 8px 5px 5px 50px;
}
.form-title {
	height: 43px;
}

#page td.question {
	font-size: 12px;
	letter-spacing: -0.04em;
	font-weight: bold;
	white-space: nowrap;
	height: 10px;
	color: #666;
}
#page td input {
	height: 20px;
	font-size: 12px;
	width: 310px;
	border: 1px solid #ccc;
}
#page td textarea {
	width: 100%;
	font-size: 12px;
	border: 1px solid #ccc;
}
#page td input.formBlockSubmitButton {
	width: 80px;
	background: #333;
	border: none;
	color: #fff;
}
#page td input.formBlockSubmitButton:hover {
	background: #ccc;
}
/*Misc Typography Styles*/
#page #central.no-sidebar h3 {
	font-size: 13px;
	text-align: right;
}