/* CSS Document */
.dif-menu{
	text-transform: capitalize;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	list-style-type: none;
	}
.dif-list {
	font-size: 12px;
	font-weight: bold;
	float: left;
	height: 22px;
	width: 100%;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	margin: 0px;
	}
.dif-list a {
	text-decoration: none;
	}		